/* || GENERAL STYLES */

html
{
    background-color: #F8F8FE;
}


/* || UTILITIES - FONTS */
@font-face 
{
    font-family: "NunitoExtraBold";
    src: url("fonts/Nunito-ExtraBold.ttf");
}

@font-face 
{
    font-family: "NunitoBold";
    src: url("fonts/Nunito-Bold.ttf");
}

@font-face 
{
    font-family: "NunitoSemiBold";
    src: url("fonts/Nunito-SemiBold.ttf");
}

@font-face 
{
    font-family: "NunitoMedium";
    src: url("fonts/Nunito-Medium.ttf");
}

@font-face 
{
    font-family: "NunitoRegular";
    src: url("fonts/Nunito-Regular.ttf");
}

@font-face 
{
    font-family: "NunitoLight";
    src: url("fonts/Nunito-Light.ttf");
}



/* || SITEWIDE */

/*Container for the background*/
#container
{
    width: 75%;
    display: block;
    position: relative;
    margin-left: 22vw;
}
#navContainer{
    position: fixed;
    background-color: #ffffff;
    border-radius: 2vw;
    width: 20vw;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.navTitle{
    font-family: NunitoBold;
    font-size: 2vw;
    background: linear-gradient(0.25turn, #0035e4, #D0DDFF, #0035e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 6vw;
}

/*The nav texts in each page*/
#sidenav a
{
    color: #858282;
    font-size: 1.5vw;
    text-decoration: none;
    font-family: NunitoSemiBold;
    display: flex;
    margin-left: 2.5vw;
    padding: 1.5vw 0px 0px 1.5vw;
}

.navName
{
    padding-top: 0.3vw;
}

/*Settings for the nav when in hover for each page*/
/*When the current page clicked, the nav for that page is activated*/
#sidenav a:hover
{
    color: #5379F6;
}

#sidenav a:hover .dashboardIcon, a.active .dashboardIcon, a.active .activeSign
{
    content:url("images/dashboard_blue.png");
    opacity: 1;
}

#sidenav a:hover .allClientsIcon, a.active .allClientsIcon
{
    content:url("images/all_clients_blue.png");
}

#sidenav a.active
{
    color: #5379F6;
}

.dashboardIcon, .allClientsIcon{ 
    width: 15%;
    height: 15%;
    padding-right: 1.5vw;
    display: flex;
}

.activeSign{
    width: 4%;
    background-color: #5379F6;
    border-radius: 0.5vw 0vw 0vw 0.5vw;
    margin-left: auto;
    opacity: 0;
}

#pageTitle{
    font-family: NunitoBold;
    color: #5379F6;
    font-size: 3vw;
    padding: 1.5vw 0vw 0.5vw 0vw;
}

#pageSubtitle{
    font-family: NunitoRegular;
    font-size: 1.8vw;
    margin-bottom: 2.5vw;
}

.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5vw;
}

.smallContainer{
    width:41%;
    height: 20vw;
    background-color: white;
    border-radius: 2vw;
    border-color: #eaeaea;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 4px 4px #c5c5c5;
    margin-left: auto;
}

.mediumContainer{
    width:55%;
    height: 20vw;
    background-color: white;
    border-radius: 2vw;
    border-color: #eaeaea;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 4px 4px #c5c5c5;
    display: flex;
    flex-direction: row;
}

.containerTitle{
    margin: 2vw 0vw 0vw 2vw;
    font-family: NunitoBold;
    font-size: 2vw;
}

.containerSubtitle{
    margin: 0vw 1vw 0vw 2vw;
    font-family: NunitoLight;
    font-size: 1.4vw;
}

.containerPic{
    width: 40%;
    height: 70%;
    margin: auto 2vw auto 0vw;
    
}

/* || PAGINATION */
#pagination
{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

#paginationList
 {
    overflow: hidden;
    padding-right: 2vw;
    position: absolute;
}

/*The nav texts in each page*/
#paginationList a
{
    text-decoration: none;
    font-size: 1.5vw;
    font-family: NunitoBold;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-radius: 5vw;
    float: left;
    margin: 1vw 0.5vw;
    letter-spacing: 1px;
}

/*the nav bar text color for each page*/
#paginationList a 
{
    color: #858282;
}

/*the nav bar text color on hover*/
#paginationList a:hover
{
    color: #5379F6;
}

/*When the current page clicked, the nav for that page is activated*/
#paginationList a.active
{
    background-color: #5379F6;
    color: white;
}



/* || Dasboard */


/* || All Clients */

#searchContainer{
    border-radius: 2vw;
    border-width: 0.1vw;
    padding: 0.8vw 1vw 0.8vw 1vw;
    width: 40%;
    font-size: 1.2vw;
    font-family: NunitoRegular;
}

.dropdown
{
    margin-left: 2vw;
    margin-right: 2vw;

}

.dropbtn
{
  color: #767676;
  background-color: white;
  padding: 1vw 1vw 0.8vw 1vw;
  width: 40%;
  text-align: left;
  font-size: 1.2vw;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #000000;
  border-radius: 2vw;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: NunitoRegular;
}

#dropdownIcon
{
    width: 7%;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-right: 0.5vw;
    margin-left: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-family: NunitoBold;
    font-size: 1.5vw;
    background-color: white;
    color: #B8B8B8;
    width: 18.5vw;
    font-size: 1vw;
    box-shadow: 0px 2px 3px #b8b8b8;
    border-radius: 1vw;
    z-index: 1;
}
  
.dropdown-content a {
    color: #696969;
    padding: 1vw;
    padding-left: 1vw;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #5379F6;
    color:white;
}

.topDropdown:hover {
    border-radius: 1vw 1vw 0vw 0vw;
}

.lastDropdown:hover {
    border-radius: 0vw 0vw 1vw 1vw;
}
  
.dropdown:hover .dropdown-content
{
    display: block;
}

.addClientBtn
{
    background-color: #FFAC0B;
    border-radius: 3vw;
    width: 35%;
    margin-left: auto;
    border-style: none;
    font-family: NunitoBold;
    font-size: 1.2vw;
    color: white;
}

.clientsTable{
    border: 0;
    border-collapse: collapse;
    outline: none;
    border-radius: 2vw;
}

.clientsHeader{
    font-family: NunitoBold;
    font-size: 1.2vw;
    width: 13vw;
    color: #7A7A7A;
    padding-bottom: 1vw;
}

.clientRow:hover{
    box-shadow: 0px 2px 3px #b8b8b8;
    border-radius: 2vw;
}
.clientsData{
    font-family: NunitoBold;
    font-size: 1.5vw;
    width: 14vw;
}

.clientsPic{
    width: 3vw;
    margin-right: 3vw;
    margin-left: 0.5vw;
}

.editButton{
    border-radius: 5vw;
    background-color: #FFAC0B;
    width: 2.8vw;
    margin-left: 7vw;
    margin-right: 0.5vw;
    border-style: none;
}

#editClientIcon{
    width: 70%;
    margin: 0.5vw 0vw 0.5vw 0.2vw;
}

/* ||EDIT CLIENT PROFILE*/

/*Making the navbar in the top of the page below the welcome image*/
#ulNav
{
    list-style-type: none;
    width: auto;
    margin-left: 3vw;
}

/*Making the nav floating to left for web*/
.liNav
{

}

/*The navigation link class*/
#topnav
 {
    background-color: #5379F6;
    border-radius: 5vw;
    color: white;
}

/*The nav texts*/
#topnav a
{
    float:left;
    color: white;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
    font-size: 2vw;
    font-family: NunitoBold;
}

/*Settings for the nav when in hover*/
#topnav a:hover
{
    background-color: #aec3ff;
    color: rgb(52, 56, 82);
}

/*When the current page clicked, the nav for that page is activated*/
#topnav a.active
{
    background-color: white;
    color: #5379F6;
}

